.DS_Store
.eclipse.buildship.core.prefs
.gradle/
.idea/
.kubernetes-manifests-*/
.project
.skaffold-*.yaml
.terraform.lock.hcl
.terraform/*
.venv/
.vs/
.vscode/
*.iml
*.ipr
*.iws
*.pyc
*.swp
*.tfstate*
*.tfvars
*~
bin/
build/
Dockerfile.pip
node_modules/
obj/
pkg/
release/wi-kubernetes-manifests.yaml
vendor/
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.swp
*.swo
*~
.vscode/
.idea/
charts/*.tgz
*.tfstate
*.tfstate.*
.terraform/
crash.log
kubeconfig.yaml
EOF