promtail:
  securityContext:
    capabilities:
      drop: [ALL]
    runAsNonRoot: true
    runAsUser: 10001
    runAsGroup: 10001
    readOnlyRootFilesystem: true
    # Add ulimits
    ulimits:
      - name: nofile
        soft: 65536
        hard: 65536